<div style="text-align: center;">
<button *ngIf="listeLabels.length == 0" class="btn btn-warning boutonsDuHaut"
        (click)="getLabels()">Afficher les labels</button>
<button *ngIf="listeLabels.length > 0" class="btn btn-warning boutonsDuHaut"
        (click)="closeLabels()">Fermer les labels</button>
<button *ngIf="listeAlbums.length == 0" class="btn btn-warning boutonsDuHaut"
        (click)="getAlbums()">Afficher les Albums</button>
<button *ngIf="listeAlbums.length > 0" class="btn btn-warning boutonsDuHaut"
        (click)="closeAlbums()">Fermer les Albums</button>
<button *ngIf="listeBands.length == 0" class="btn btn-warning boutonsDuHaut"
        (click)="getBands()">Afficher les Bands</button>
<button *ngIf="listeBands.length > 0" class="btn btn-warning boutonsDuHaut"
        (click)="closeBands()">Fermer les Bands</button>
<button *ngIf="listeMembers.length == 0" class="btn btn-warning boutonsDuHaut"
        (click)="getMembers()">Afficher les Members</button>
<button *ngIf="listeMembers.length > 0" class="btn btn-warning boutonsDuHaut"
        (click)="closeMembers()">Fermer les Members</button>
</div>
<h1 class="titres">Gestion de la DB</h1>
<h2 class="titres">Dans quelle rubrique veux-tu aller ?</h2>
<div style="text-align: center;">
        <button class="btn btn-warning btn-lg btn-menu"
                (click)="choixAlbums()">Albums</button>
        <button class="btn btn-warning btn-lg btn-menu"
                (click)="choixBands()">Bands</button>
        <button class="btn btn-warning btn-lg btn-menu"
                (click)="choixLabels()">Labels</button>
        <button class="btn btn-warning btn-lg btn-menu"
                (click)="choixMembers()">Members</button>
</div>
<app-albums *ngIf="choix == 'albums'"></app-albums>
<app-bands *ngIf="choix == 'bands'"></app-bands>
<app-labels *ngIf="choix == 'labels'"></app-labels>
<app-members *ngIf="choix == 'members'"></app-members>
<h2 class="titres" *ngIf="listeLabels.length > 0">Labels</h2>



  <table class="allTableSelect">
   <thead *ngIf="listeLabels.length > 0">
     <th class="selectallth">Nom</th>
     <th class="selectallth">Nationality</th>
     <th class="selectallth">Creation</th>
   </thead>
    <tbody>
     <tr *ngFor="let g of listeLabels">
       <td class="selectalltd">{{g.name}}</td>
       <td class="selectalltd">{{g.nationality}}</td>
       <td class="selectalltd">{{g.creation}}</td>
      </tr>
    </tbody>
  </table>
  <h2 class="titres" *ngIf="listeAlbums.length > 0">Albums</h2>
  <table class="allTableSelect">
		<thead  *ngIf="listeAlbums.length > 0" >
			<th class="selectallth">Nom</th>
			<th class="selectallth">Groupe</th>
			<th class="selectallth">Label</th>
			<th class="selectallth">Date de sortie</th>
			<th class="selectallth">Style</th>
		</thead>
	  <tbody>
			<tr *ngFor="let album of listeAlbums">
				<td class="selectalltd">{{album.name}}</td>
				<td class="selectalltd">{{album.band.name}}</td>
				<td class="selectalltd">{{album.label.name}}</td>
				<td class="selectalltd">{{album.release_Date}}</td>
				<td class="selectalltd">{{album.style}}</td>
			</tr>
	  </tbody>
  </table>
  <h2 class="titres" *ngIf="listeBands.length > 0">Bands</h2>
  <table class="allTableSelect">
		<thead *ngIf="listeBands.length > 0">
			<th class="selectallth">Nom</th>
			<th class="selectallth">Nationality</th>
			<th class="selectallth">Creation</th>
			<th class="selectallth">Style</th>
			<th class="selectallth">Label</th>
			<th class="selectallth">Albums</th>
			<th class="selectallth">Members</th>
		</thead>
	  <tbody>
			<tr *ngFor="let band of listeBands">
				<td class="selectalltd">{{band.name}}</td>
				<td class="selectalltd">{{band.nationality}}</td>
				<td class="selectalltd">{{band.creation}}</td>
				<td class="selectalltd">{{band.style}}</td>
				<td class="selectalltd">{{band.label.name}}</td>
				<td class="selectalltd">{{band.albums}}</td>
				<td class="selectalltd">{{band.members}}</td>
      </tr>
  	</tbody>
</table >
<h2 class="titres" *ngIf="listeMembers.length > 0">Members</h2>
    <table class="allTableSelect">
        <thead *ngIf="listeMembers.length > 0">
          <th class="selectallth">Nom</th>
          <th class="selectallth">Prénom</th>
          <th class="selectallth">Role</th>
          <th class="selectallth">Naissance</th>
          <th class="selectallth">Origine</th>
          <th class="selectallth">ID</th>
          <th class="selectallth">Second Rôle</th>
        </thead>
      <tbody>
          <tr *ngFor="let member of listeMembers">
            <td class="selectalltd">{{member.name}}</td>
            <td class="selectalltd">{{member.first_Name}}</td>
            <td class="selectalltd">{{member.role}}</td>
            <td class="selectalltd">{{member.birthdate}}</td>
            <td class="selectalltd">{{member.origin}}</td>
            <td class="selectalltd">{{member.id_Member}}</td>
            <td class="selectalltd">{{member.second_Role}}</td>
          </tr>
      </tbody>
    </table>
