.boutonsDuHaut {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 5px rgb(37, 36, 36);
    margin-top: 4px;
    color: black;
}
.btn-menu {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 15px;
    color: black;
    box-shadow: 3px 3px 5px rgb(37, 36, 36);
    font-weight: bold;
}
.titres {
    color: rgb(240, 173, 78);
    text-align: center;
    font-family: FreeMono, monospace;
    font-weight: 300;
}

.selectallth {
    font-size: x-large;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    background-color:rgb(240, 173, 78);
}

.selectalltd {
    font-weight: bolder;
    text-align: center;
    background-color: rgb(107, 106, 104);
    border-color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-style: dashed;
    font-size: large;
    color: rgb(240, 173, 78)
}

.allTableSelect {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 3px 3px 5px black;
    
}

